:host {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.mat-mdc-table {
  width: 100%;
  min-width: 600px;
  table-layout: fixed;
}

.mat-mdc-header-cell {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #FFFFFF !important;
  background: #595FEB !important;
  padding: 12px 16px !important;
  text-align: center !important;
}

.mat-mdc-cell {
  font-size: 24px;
  color: #000000;
  padding: 12px 16px;
  text-align: center !important;
}

.mat-mdc-cell::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  z-index: 1;
}

.mat-mdc-cell:last-child {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-row:nth-child(odd) {
  background: #FFFFFF;
}

.mat-mdc-row:nth-child(even) {
  background: #E1E9FE;
}

.mat-mdc-icon-button img {
  width: 20px;
  height: 20px;
}
