<table mat-table [dataSource]="dataSource" class="mat-elevation-z1" [style.width]="tableWidth">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let e">{{ e.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let e">{{ e.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let e">{{ e.rol }}</td>
  </ng-container>

  <ng-container matColumnDef="icono">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let e">
      <button mat-icon-button (click)="goToUserDetail(e); $event.stopPropagation()">
        <img src="../../../../assets/arrow.svg" alt="ver" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
