.transparent-bg {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  margin-bottom: 80px;
}

app-main-button {
  width: 200px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

app-card > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
