services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: ticketing
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
