.container {
  display: flex;
  width: 300px;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  background-color: #c1e1f6;
  border: 1px solid #50aee3;
  border-radius: 10px;
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

p {
  font-size: 20px;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}
