.container {
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  font-size: 12px;
  box-shadow: 0px 10px 1.8rem rgba(0, 0, 45, 0.15);
}

button {
  all: unset;
  width: auto;
  height: auto;
  cursor: pointer;
}

.header-box {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid #c2c2c2;
}

div div p {
  font-size: 24px;
  font-weight: bold;
  color: #1e1c4a;
}

img {
  width: 40px;
  height: 40px;
}

.notification-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-ver-mas {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  color: #50aee3;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
}

.p-notificaciones {
}
