<div class="container">
  <div>
    <p>Notificaciones</p>
    <img
      src="../../../../../assets/closeIcon.svg"
      alt="icono cerrar lista de Notificaciones"
    />
  </div>
  <app-small-notification-list-item></app-small-notification-list-item>
  <app-small-notification-list-item></app-small-notification-list-item>
  <app-small-notification-list-item></app-small-notification-list-item>
  <app-small-notification-list-item></app-small-notification-list-item>
  <app-small-notification-list-item></app-small-notification-list-item>
  <p>ver mas</p>
</div>
