<div class="container">
  <div class="header-box">
    <p class="p-notificationes">Notificaciones</p>
    <button (click)="onClose()">
      <img
        src="../../../../../assets/closeIcon.svg"
        alt="icono cerrar lista de Notificaciones"
      />
    </button>
  </div>
  <div class="notification-container">
    @for (notification of notifications; track notification.id) {
      <app-notification-list-item
        [message]="notification.mensaje"
        [date]="getDate(notification.fechaCreacion ?? '')"
        [time]="getTime(notification.fechaCreacion ?? '')"
      />
    }
  </div>
  <div class="card-footer">
    <a (click)="onClose()" class="p-ver-mas" [routerLink]="'/notifications'">
      ver mas
    </a>
  </div>
</div>
