.container {
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.header-box {
  display: flex;
  width: 100%;
  height: 80px;
}

div div p {
  font-weight: bold;
  font-size: 24px;
}

img {
  width: 50px;
  height: 50px;
}

.notification-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
