<div class="container">
  <div class="header-box">
    <p>Notificaciones</p>
    <img
      src="../../../../../assets/closeIcon.svg"
      alt="icono cerrar lista de Notificaciones"
    />
  </div>
  <div class="notification-container">
    <app-notification-list-item></app-notification-list-item>
    <app-notification-list-item></app-notification-list-item>
    <app-notification-list-item></app-notification-list-item>
    <app-notification-list-item></app-notification-list-item>
    <app-notification-list-item></app-notification-list-item>
  </div>
  <p>ver mas</p>
</div>
