<app-background [variant]="'dark-overlay'">
  <app-card width="1200px" height="600px">
    <div class="container">
      <img
        src="../../../../../assets/closeIcon.svg"
        alt="Icono cerrar ventana emergente"
      />
      <div class="textarea-wrapper">
        <textarea [placeholder]="'Escribe aquí...'"></textarea>
      </div>
      <app-main-button
        placeHolder="Confirmar"
        width="200px"
        height="50px"
      ></app-main-button>
    </div>
  </app-card>
</app-background>
