.container {
  height: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.textarea-wrapper {
  width: 67rem;
  height: 25rem;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -20px;
}

.textarea-wrapper:focus-within {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #c2c2c2;
  background-color: #eff2fe;
  padding: 30px;
  border-radius: 20px;
  resize: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  font-size: 18px;
}

textarea:focus {
  outline: none;
  border: 1px solid #443cc6;
  outline: none;
}

textarea::placeholder {
  color: #888;
  font-size: 18px;
}

main-button {
  display: flex;
  margin-right: auto;
}
