.container {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  height: 80px;
  justify-items: center;
}

.notification-container {
  height: 550px;
  overflow: scroll;
  border: 2px solid #1e1c4a;
  border-radius: 10px;
}

a {
  justify-self: start;
}

img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

p {
  font-size: 32px;
  font-weight: 700;
  color: #1e1c4a;
  grid-column: 2/3;
}
