.container {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
}

img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #fff;
}

p {
  font-size: 32px;
  font-weigth: 700;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  height: 80px;
  border-bottom: 1px solid #c2c2c2;
}
