button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.6rem;
}

img {
  width: 55%;
}

.primary {
  background-color: yellow;
  background-color: #504be0;
}

.primary-outline {
  background-color: #eff2fe;
  color: #595feb;
  border: 1px solid #595feb;
}

.secondary {
  background-color: #50aee3;
}

a {
  text-decoration: none;
}
