.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 100px 180px;
  grid-template-rows: 70px 50px 5fr 1fr;
  padding: 20px 20px;
}

.card-header {
  display: flex;
  margin-bottom: 20px;
}

img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  grid-column: 1/2;
  grid-row: 1/2;
}

.author {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #1e1c4a;
  font-size: 38px;
  margin-left: 80px;
}

app-text-box {
  grid-column: 1/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
}

.date {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: end;
  margin-right: 10px;
}

.time {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: start;
}

.date,
.time {
  font-size: 24px;
  color: #1e1c4a;
  font-weight: 500;
}
