.page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1080px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
