:host {
  display: flex;
  justify-content: center;
  max-height: var(--input-max-height, 400px);
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  border-radius: 12px;
  border: 1px solid #ddd;
  --table-width: var(--input-table-width, 1020px);
  --table-min-width: var(--input-table-min-width, 400px);
}

.mat-mdc-table {
  width: var(--table-width);
  min-width: var(--table-min-width);
  table-layout: fixed;
}

.mat-mdc-header-cell {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #FFFFFF !important;
  background: #595FEB !important;
  padding: 12px 16px !important;
  text-align: center !important;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 3;
  background: #595FEB;
}

.mat-mdc-cell {
  font-size: 24px;
  color: #000000;
  padding: 12px 16px;
  text-align: center !important;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-mdc-cell::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  z-index: 1;
}

.mat-mdc-cell:nth-child(7) {
  padding: 0 !important;
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mat-mdc-cell:nth-child(7)::after {
  display: block !important;
  background: #ddd;
}

.mat-mdc-row {
  position: relative;
}

.mat-mdc-row:nth-child(odd) {
  background: #FFFFFF;
}

.mat-mdc-row:nth-child(even) {
  background: #E1E9FE;
}

.mat-mdc-icon-button {
  position: relative;
  z-index: 2;
}

.mat-mdc-icon-button img {
  width: 20px;
  height: 20px;
}
