div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 90px;
  border-radius: 0 0 20px 0;
  background-color: #e1e9fe;
  cursor: pointer;
  border: 1px solid #50aee3;
}

div:hover {
  background-color: #50aee3;
}

p {
  font-size: 24px;
  margin-left: 15px;
  color: #50aee3;
}

div:hover p {
  color: #fff;
}

a {
  text-decoration: none;
}
