.page {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1080px;
  gap: 30px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar h2 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
}
