<app-card width="1500px" height="800px">
  <div class="container">
    <a [routerLink]="'/home'">
      <img
        src="../../../../../assets/goBackArrow.svg"
        alt="icono de regresar"
      />
    </a>
    <h2>Problema de acceso a la cuenta</h2>
    <app-combo-box
      (change)="setIsPriorityValidation(true)"
      [options]="prioridadOptions"
    ></app-combo-box>
    <app-main-button
      width="150px"
      height="50px"
      placeHolder="Proceso"
      [routerLink]="'/ticket/management/comments'"
    ></app-main-button>
    <p>Descripción</p>
    <app-text-box width="1300px" height="300px"></app-text-box>
  </div>
</app-card>
@if(isPriorityValidation){
<app-validation-card
  (close)="setIsPriorityValidation(false, $event)"
  [message]="'¿Estas seguro de que deseas cambiar la prioridad de esta solicitud de soporte?'"
></app-validation-card>
}
