.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

app-card {
  margin-bottom: -20px;
}

img {
  width: 50px;
  height: 50px;
}

h2 {
  font-size: 38px;
}
