.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.card-header {
  display: flex;
  margin-bottom: 20px;
}

app-card {
  margin-bottom: -20px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

h2 {
  color: #1e1c4a;
  font-size: 38px;
}

.grid-container {
  display: grid;
  margin: 0 70px;
  height: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
}

.grid-container-box {
  display: flex;
  flex-direction: column;
}

.grid-container-box-label {
  color: #1e1c4a;
  font-weight: 500;
  font-size: 30px;
}

.grid-container-box-content {
  font-size: 26px;
}

app-file-container {
  margin-top: 10px;
}

app-combo-box {
  margin-top: 10px;
}

.buttons-area {
  grid-row: 4/5;
  grid-column: 3/4;
  align-self: end;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description-p {
  color: #1e1c4a;
  font-weight: 500;
  font-size: 24px;
  grid-row: 4/5;
  grid-column: 1/2;
  align-self: end;
  margin-bottom: 10px;
}

app-text-box {
  grid-row: 5/6;
  grid-column: 1/4;
  margin-bottom: 20px;
}

.boton-solicitar-cancelacion {
  position: absolute;
}