* {
  margin: 0;
  height: 80px;
}
div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  background-color: #f5f8ff;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px #50aee3;
  font-size: 32px;
}
