<div>
  <app-main-button
    (click)="setIsPerfilHover(!isPerfilHover)"
    [width]="'72px'"
    [height]="'52px'"
    [iconUrl]="'../../../../assets/userIcon.svg'"
    [variant]="'secondary'"
  ></app-main-button>
  <p>Lorenzo Castañeda Rivas</p>
  <app-main-button
    [width]="'72px'"
    [height]="'52px'"
    [iconUrl]="'../../../../assets/tableIcon.svg'"
  ></app-main-button>
  <app-main-button
    [width]="'56px'"
    [height]="'52px'"
    [iconUrl]="'../../../../assets/alarmIcon.svg'"
  ></app-main-button>
  @if (isPerfilHover) {
    <app-log-out-button
      (mouseenter)="setIsPerfilHover(true)"
      (mouseleave)="setIsPerfilHover(false)"
    ></app-log-out-button>
  }
</div>
