.profile-card__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 48px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.back {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 16px;
}

h2 {
  margin: 16px 0 24px 0;
  color: #1e1c4a;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.field {
  margin-bottom: 16px;
}

.field h3 {
  margin: 0;
  color: #1e1c4a;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.field p {
  margin: 4px 0 0 0;
  color: #333;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.actions {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
