.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  flex-direction: column;
  align-items: center;
}

.card-header {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.comment-box {
  width: 100%;
  height: 600px;
  background-color: #fff;
  overflow: scroll;
  border: 2px solid #1e1c4a;
  border-radius: 10px;
}

.button-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

app-main-button {
  margin-left: 20px;
}

h2 {
  color: #1e1c4a;
  font-size: 38px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
