<app-card [width]="'1300px'" [height]="'800px'">
  <div class="container">
    <div class="card-header">
      <a [routerLink]="['/admin/ticket/management', idTicket]">
        <img src="../../../../../assets/goBackArrow.svg" alt="" />
      </a>
      <h2>Comentarios</h2>
    </div>
    <div class="comment-box">
      @for (comentario of comentarios; track comentario.id) {
      <app-comment-list-admin-item [data]="comentario" [idTicket]="idTicket"></app-comment-list-admin-item>
      }
    </div>

    <div class="button-container">
      @if (!isTicketCerrado) {
      <app-main-button [width]="'150px'" [height]="'50px'" [placeHolder]="'Asignar'" [variant]="'primary-outline'"
        (click)="asignarAAgente()"></app-main-button>
      <app-main-button [width]="'150px'" [height]="'50px'" [placeHolder]="'Cerrar'" [variant]="'primary-outline'"
        (click)="setIsCloseTicketValidation(true)"></app-main-button>
      <app-main-button [width]="'150px'" [height]="'50px'" [placeHolder]="'Comentar'"
        (click)="setIsTextArea(true)"></app-main-button>
      }
    </div>
  </div>
</app-card>
@if (isCloseTicketValidation) {
<app-validation-card [message]="'¿Estas seguro de que deseas cerrar esta solicitud de soporte?'"
  (close)="setIsCloseTicketValidation(false, $event)"></app-validation-card>
} @else if (isTextArea) {
<app-text-area (close)="setIsTextArea(false, $event)"></app-text-area>
}
